.modal-90w {
  min-width: 70% !important;
}

button:focus:not(:focus-visible),
a:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

/* ////////////////////////////////////////////// */
/* EDIT BUTTON */
/* ////////////////////////////////////////////// */

.editProfileBtnStyle {
  background-color: #e6ddc4 !important;
  border: 1px solid #e6ddc4 !important;
  color: #181d31 !important;
  width: 10rem !important;
  height: 3rem !important;
  font-size: 18px !important;
  padding: 0 !important;
}

.editProfileBtnStyle:hover {
  background-color: #b9b29d !important;
  border: 1px solid #b9b29d !important;
  color: #181d31 !important;
}

/* ////////////////////////////////////////////// */
/* BUCKIT LIST FORM */
/* ////////////////////////////////////////////// */

.scrollForm {
  padding: 6px 12px 6px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  overflow: auto;
  white-space: nowrap;
}

/* PLUS BUTTON */
.buckitListBtnStyle {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}

.buckitListBtnStyle:hover {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  transform: scale(1.1);
  transition: transform 0.15s ease;
}

/* ////////////////////////////////////////////// */
/* USER PROFILE IMAGES = BANNER + PROFILE */
/* ////////////////////////////////////////////// */

.BannerContainer {
  padding: 0 !important;
  padding-top: 1.58vw !important;
  padding-left: 1.58vw !important;
  padding-right: 1.58vw !important;
}

.UserBannerImage {
  width: 100% !important;
  height: 25vw !important;
  object-fit: cover;
}

.UserProfileImage {
  width: 100% !important;
  height: 22vw !important;
  object-fit: cover;
}

/* ////////////////////////////////////////////// */
/* FOLLOWERS + FOLLOWING IMAGES */
/* ////////////////////////////////////////////// */

.UserFollowImage {
  width: 100% !important;
  height: 22vw !important;
  object-fit: cover;
}

.UserFollowUsername {
  font-size: 26px !important;
}

/* ////////////////////////////////////////////// */
/* BUCKIT CARD IMAGES */
/* ////////////////////////////////////////////// */

.BuckitCardImage {
  width: 100% !important;
  height: 20vw !important;
  object-fit: cover;
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1023px) {
  .editProfileBtnStyle {
    width: 7rem !important;
    height: 2.6rem !important;
    font-size: 16px !important;
    padding: 0 !important;
  }

  .UserFollowImage {
    height: 18vw !important;
  }

  .UserFollowUsername {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 767px) {
  .editProfileBtnStyle {
    width: 7rem !important;
    height: 2.4rem !important;
    font-size: 15px !important;
  }

  .UserFollowImage {
    height: 16vw !important;
  }

  .UserFollowUsername {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 500px) {
  .editProfileBtnStyle {
    width: 6rem !important;
    height: 2.2rem !important;
    font-size: 14px !important;
    padding: 0 !important;
  }

  .BuckitCardImage {
    width: 100% !important;
    height: 60vw !important;
    object-fit: cover;
  }

  .navLinks {
    padding-left: 2rem !important;
  }

  .UserFollowImage {
    height: 20vw !important;
  }

  .UserFollowUsername {
    font-size: 14px !important;
  }
}
