.modal-90w {
  min-width: 70% !important;
}

button:focus:not(:focus-visible),
a:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

/* ////////////////////////////////////////////// */
/* USER DETAILS CARD */
/* ////////////////////////////////////////////// */

.UserDetailsCardHeader {
  background-color: transparent !important;
  border-bottom: none !important;
  padding-bottom: 0px !important;
}

.UserDetailsCardUsername {
  color: black;
  font-size: 24px !important;
  background-color: none !important;
  margin: 0px !important;
  padding: 8px 0px 0px 0px !important;
}

.UserDetailsCardSubTitle {
  margin-bottom: 4px !important;
  font-size: 20px !important;
  color: #6c757d !important;
  opacity: 0.9;
}

.UserDetailsCardBio {
  font-size: 18px !important;
}

.UserDetailsFooterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
  align-items: center !important;
  background-color: transparent !important;
  padding: 16px 8px 16px 8px !important;
}

.UserDetailsFooterContainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  grid-gap: 0.5rem !important;
  gap: 0.5rem !important;
}

.UserDetailsFooterContainer div svg {
  color: #99154e;
  cursor: pointer;
  font-size: 2.4rem !important;
}

.UserDetailsFooterContainer div svg:hover {
  color: #f43b86;
  transition: color 0.15s ease;
}

.UserDetailsFooterContainer div span {
  font-size: 1.1rem !important;
}

/* ////////////////////////////////////////////// */
/* BUCKIT CARDS */
/* ////////////////////////////////////////////// */

.BuckitCardTitleContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px 16px 0px 16px !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.BuckitCardImageUsername {
  display: flex;
  flex-direction: row;
  justify-content: start !important;
  align-items: center !important;
  grid-gap: 0.5rem !important;
  gap: 0.5rem !important;
}

.BuckitCardProfileImage {
}

.BuckitCardUsername {
  font-size: 21px !important;
  margin-bottom: 0 !important;
}

.BuckitCardDate {
  font-size: 18px !important;
}

.BuckitCardBodyContainer {
  display: flex;
  flex-direction: column;
  padding: 0px 16px 0px 16px !important;
}

.BuckitCardBodyTitle {
  font-size: 19px !important;
  padding: 0px 0px 8px 0px !important;
}

.BuckitCardImage {
  width: 100% !important;
  height: 20vw !important;
  object-fit: cover;
}

.BuckitCardBodyDescription {
  font-size: 19px !important;
  padding: 8px 0px 8px 0px !important;
}

.BuckitCardBodyStatus {
  font-size: 19px !important;
  padding: 0px 0px 8px 16px !important;
}

.BuckitCardBodyStatus span {
  color: #55b3b1;
}

.BuckitCardFooter {
  display: flex;
  flex-direction: row;
  font-size: 16px !important;
  grid-gap: 0.5rem !important;
  gap: 0.5rem !important;
}

/* ////////////////////////////////////////////// */
/* EDIT BUTTON */
/* ////////////////////////////////////////////// */

.editProfileBtnStyle {
  background-color: #e6ddc4 !important;
  border: 1px solid #e6ddc4 !important;
  color: #181d31 !important;
  width: 8rem !important;
  height: 2.8rem !important;
  font-size: 16px !important;
  padding: 0 !important;
}

.editProfileBtnStyle:hover {
  background-color: #b9b29d !important;
  border: 1px solid #b9b29d !important;
  color: #181d31 !important;
}

/* ////////////////////////////////////////////// */
/* BUCKIT LIST FORM */
/* ////////////////////////////////////////////// */

.scrollForm {
  padding: 6px 12px 6px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  overflow: auto;
  white-space: nowrap;
}

.BuckitListPlus {
  padding: 8px 4px 8px 4px !important;
  font-size: 20px !important;
}

/* ////////////////////////////////////////////// */
/* USER PROFILE IMAGES = BANNER + PROFILE */
/* ////////////////////////////////////////////// */

.BannerContainer {
  padding: 0 !important;
  padding-top: 1.58vw !important;
  padding-left: 1.58vw !important;
  padding-right: 1.58vw !important;
}

.UserBannerImage {
  width: 100% !important;
  height: 25vw !important;
  object-fit: cover;
}

.UserProfileImage {
  width: 100% !important;
  height: 22vw !important;
  object-fit: cover;
}

/* ////////////////////////////////////////////// */
/* FOLLOWERS + FOLLOWING IMAGES */
/* ////////////////////////////////////////////// */

.UserFollowImage {
  width: 100% !important;
  height: 22vw !important;
  object-fit: cover;
}

.UserFollowUsername {
  font-size: 26px !important;
}

/* ////////////////////////////////////////////// */
/* BUCKIT CARD IMAGES */
/* ////////////////////////////////////////////// */

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1023px) {
  .editProfileBtnStyle {
    width: 7rem !important;
    height: 2.6rem !important;
    font-size: 100% !important;
  }

  .UserFollowImage {
    height: 18vw !important;
  }

  .UserFollowUsername {
    font-size: 20px !important;
  }

  /* ----------------------------------------- */
  /* BUCKIT CARD */
  /* ----------------------------------------- */
  .BuckitCardDate {
    padding-top: 0.8rem !important;
  }
}

@media only screen and (max-width: 767px) {
  .editProfileBtnStyle {
    width: 7rem !important;
    height: 2.4rem !important;
    font-size: 15px !important;
  }

  .UserFollowImage {
    height: 16vw !important;
  }

  .UserFollowUsername {
    font-size: 20px !important;
  }

  /* ----------------------------------------- */
  /* POST BUCKIT LIST */
  /* ----------------------------------------- */
  .BuckitListPlus {
    font-size: 18px !important;
  }

  /* ----------------------------------------- */
  /* BUCKIT CARD */
  /* ----------------------------------------- */
  .BuckitCardImageUsername {
    flex-wrap: wrap;
    justify-content: center !important ;
  }

  .BuckitCardFooter {
    flex-wrap: wrap;
  }

  .BuckitCardDate,
  .BuckitCardBodyTitle,
  .BuckitCardBodyDescription,
  .BuckitCardBodyStatus {
    font-size: 16px !important;
  }

  .BuckitCardFooter {
    font-size: 14px !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 575px) {
  /* ----------------------------------------- */
  /* BUCKIT CARD */
  /* ----------------------------------------- */
  .BuckitCardImage {
    width: 100% !important;
    height: 60vw !important;
    object-fit: cover;
  }

  .BuckitCardUsername,
  .BuckitCardDate {
    font-size: 18px !important;
    padding-top: 0px !important;
  }

  .BuckitCardFooter {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 480px) {
  .editProfileBtnStyle {
    width: 6rem !important;
    height: 2.2rem !important;
    font-size: 14px !important;
    padding: 0 !important;
  }

  .navLinks {
    padding-left: 2rem !important;
  }

  .UserFollowImage {
    height: 20vw !important;
  }

  .UserFollowUsername {
    font-size: 14px !important;
  }

  /* ----------------------------------------- */
  /* BUCKIT CARD */
  /* ----------------------------------------- */
  .BuckitCardImage {
    width: 100% !important;
    height: 60vw !important;
    object-fit: cover;
  }
}
