.BucketBrand:hover {
  -moz-transform: rotate(28deg);
  -webkit-transform: rotate(28deg);
  -o-transform: rotate(28deg);
  -ms-transform: rotate(28deg);
  transform: rotate(28deg);
  color: #282846;
  transition: color transform 0.15s ease;
}

.navSignup {
  margin-left: 4px !important;
}

.navLogin {
  margin-left: 4px !important;
}

/* ////////////////////////////////////////////////// */
/* SEARCH EMOJI + PROFILE + LOGOUT BUTTON  */
/* ////////////////////////////////////////////////// */

.NavProfileIcon {
  padding: 8px 8px 8px 8px !important;
}

.NavProfileIcon svg {
  color: #fed049;
  margin: 0px !important;
  font-size: 2.4rem !important;
}

.NavProfileIcon svg:hover {
  color: #d2ad3d;
  transition: color 0.15s ease;
}

/* SEARCH EMOJI */
.NavSearchEmoji {
  font-size: 36px !important;
  padding: 0px 8px 0px 16px !important;
  cursor: pointer;
}

.NavSearchEmoji:hover {
  transform: scale(1.1);
  transition: transform 0.15s ease;
}

.SearchModalTitle {
  font-size: 36px !important;
}

/* ////////////////////////////////////////////////// */
/* SEARCH MODAL */
/* ////////////////////////////////////////////////// */

.UserSearchImage {
  width: 100% !important;
  height: 19vw !important;
  object-fit: cover;
}

.UserSearchUsername {
  font-size: 24px !important;
}

/* ////////////////////////////////////////////////// */
/* MEDIA QUERIES */
/* ////////////////////////////////////////////////// */
@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1023px) {
  .SearchModalTitle {
    font-size: 32px !important;
  }
}

@media only screen and (max-width: 767px) {
  .UserSearchImage {
    height: 17vw !important;
  }

  .UserSearchUsername {
    font-size: 22px !important;
  }

  .SearchModalTitle {
    font-size: 30px !important;
  }
}

@media only screen and (max-width: 500px) {
  .NavSearchEmoji,
  .NavProfileIcon {
    margin-left: 20px !important;
  }

  .NavLogoutBtn {
    margin-left: 12px !important;
  }

  .NavSearchEmoji:hover {
    -moz-transform: scale(1.1) translate(14px, 0px);
    -webkit-transform: scale(1.1) translate(14px, 0px);
    -o-transform: scale(1.1) translate(14px, 0px);
    -ms-transform: scale(1.1) translate(14px, 0px);
    transform: scale(1.1) translate(14px, 0px);
    transition: transform 0.15s ease;
  }

  .navSearchForm {
    padding: 10px !important;
  }

  .navProfile {
    margin-left: 12px !important;
    margin-top: 6px !important;
  }

  /* SEARCH */

  .SearchModalTitle {
    font-size: 20px !important;
  }

  .UserSearchImage {
    width: 100% !important;
    height: 19vw !important;
    object-fit: cover;
  }

  .UserSearchUsername {
    font-size: 9px !important;
  }
}
